<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #myChart {
        max-width: 500px;
        max-height: 500px;
      }
    </style>
  </head>
  <body>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
      integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
      crossorigin="anonymous"
    ></script>
    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function () {
        const ctx = document.getElementById("myChart");
        var categories = [[${categoryList}]];
        var labels=new Array();
        var values=new Array();
        for (let index = 0; index < categories.length/2; index++) {
              labels[index]=categories[2*index];
              values[index]=categories[2*index+1];
          }

        new Chart(ctx, {

          type: "bar",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Category",
                data: values,
                borderWidth: 1,
                backgroundColor: [
                  "red",
                  "Blue",
                  "Yellow",
                  "Green",
                  "Purple",
                  "Orange",
                ],
              },
            ],
          },
          options: {},
        });
      });
    </script>
  </body>
</html>
