<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #myChart {
        max-width: 500px;
        max-height: 500px;
      }
    </style>
  </head>
  <body>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
      integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
      crossorigin="anonymous"
    ></script>

    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function () {
        const ctx = document.getElementById("myChart2");
        var categories = [[${totalPrices}]];


        const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];


        new Chart(ctx, {

          type: "line",
          data: {
            labels: months,
            datasets: [
              {
                label: "Total price of products",
                data:  categories,
                borderColor:'rgb(75,192,192)',
                tension:0.1,
                fill:false,
                pointBackgroundColor:["black"],
              },
            ],
          },
          options: {},
        });
      });
    </script>
  </body>
</html>
